# Nix + direnv files
.envrc
.direnv

# Editor specific files
Session.vim

# Node.js dependencies
node_modules/
package-lock.json

# Build artifacts
web/static/output.css

# Temporary files
tmp/

# Storybook files
*storybook.log
storybook-static
.storybook/
stories/

# Templ
*_templ.go
